[Unit]
Description=Servicio de validación pipeline http/dns

[Service]
ExecStart=/bin/bash ../src/run_service.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
